
*{
  background-color: b5b5b6;
}

li{
  display: inline; /* this is where i want the icons and main 
  links to be inline*/
}

#icons{ /* im trying to figure out how to put my social media 
  links on top and in the middle. i am also trying to decide
  if i want to make it float as you scroll*/
  position:fixed;
 
}

div{/* i think i have to type this up to make sure all links are
  blocks*/
  height: 50px;
  width: 50px;
  border: 2px solid black
  display:inline-block
  border-radius: 5px;
}
