
*{
  background-color: b5b5b6;
}

li{
  display: inline; /* this is where i want the icons and main 
  links to be inline*/
}

#icons{ /* im trying to figure out how to put my social media 
  links on top and in the middle. i am also trying to decide
  if i want to make it float as you scroll*/
  position:fixed;
 
}

#header{ /*this is where im trying to make the main links center
  at the top of the page*/
  position:relative;
  display: inline;

}

div{/* i think i have to type this up to make sure all links are
  blocks*/
  display:inline;
  border: 1px solid black;
  border_radius: 10px;
}